:root {
  --blue: #36536b;
  --blue-light:#afb2b4;
  --blue-dark: #1b262f;
  --pink: #da6d97;
  --pink-dark: #ba4270;
  --white: #fbfcfe;
  --font-display: "DM Serif Display", "Arial", sans-serif;

}

@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-Regular.woff2") format("woff2"),
    url("../fonts/PublicSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-Bold.woff2") format("woff2"),
    url("../fonts/PublicSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Serif Display";
  src: url("../fonts/DMSerifDisplay-Regular.woff2") format("woff2"),
    url("../fonts/DMSerifDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  font-family: "Public Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  background-color: #EDF3F8;
  margin: 0;
}
.container {
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* Site Header  */
.header {
  background-image: url(../img/hero-bg-mobile.png);
  background-size: 780px 780px;
  background-repeat: no-repeat;
  background-position: calc(50%) -500px;
}

.header-top {
  display: flex;
  align-items: center;
  /* padding-bottom: 80px; */
  padding-top: 30px;
}

.logo-header {
  margin-right: auto;
}

.burger-button {
  border: none;
  background-color: transparent;
}

.hero__heading {
  font-family: var(--font-display);
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.246154px;
  color: var(--blue);
}

.hero-phone-mobile {
  position: absolute;
  left: 32%;
  top: 145px;
}

@media only screen and (min-width: 375px) {

}

.intro {
  padding-top: 310px;
}

